.options {
  display: block;
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
  line-height: 1.5;
}
.options h1 {
  font-size: clamp(1.5rem, 10vw, 3rem);
  display: block;
  text-align: center;
  width: 100%;
}
/* p {
  text-align: justify;
  margin-bottom: 2rem;
} */
.options .button {
  margin-inline: auto;
}
.music-sound {
  width: 100%;
  display: grid;
  justify-content: space-between;
  justify-items: stretch;
  padding-inline: auto;
  margin-block: 2rem;
  border: 2px solid red;
}
.div_flex {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-block: 1.5rem;
}
/* ========================*/
/* ==== SMALLER SCREENS ==== */
/* ========================*/
@media (max-width: 300px) {
  .options h1 {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
  }
}
/* ========================*/
/* ==== LARGE SCREENS ==== */
/* ========================*/
@media (min-width: 600px) {
  .options h1 {
    width: clamp(500px, 90%, 750px);

    font-size: clamp(2rem, 25vw, 3rem);
  }
}
