.connected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--dark-blue-black-gradient);
  color: var(--deep-red-orange-gradient);
  text-align: center;
  font-family: var(--font-rubik-wet-paint);
  font-size: 0.85rem;
  outline: 2px groove var(--light-green);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.connected .account-balance {
  display: none;
}
/* ========================*/
/* ==== LARGE SCREENS ==== */
/* ========================*/
@media (min-width: 600px) {
  .connected {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    gap: 1rem;
  }
  .connected .account-balance {
    display: flex;
  }
}
