.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background: var(--deeper-green);
  color: var(--antique-white);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 153, 126, 0.15);
}
@supports (backdrop-filter: blur(6.5px)) {
  .dashboard {
    background: rgba(0, 103, 84, 0.25);
    backdrop-filter: blur(6.5px);
  }
}
.dashboard-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 15;
}

.dashboard-overlay.view {
  display: block;
}
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  /* border: 2px solid blue; */
  gap: 0;
  margin: 0;
  padding: 0;
}
.dashboard h2 {
  width: 100%;
  margin-inline: auto;
  margin-block: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.dashboard h3 {
  color: var(--light-green);
  margin-bottom: 0.25rem;
}
.statistics {
  width: 100%;
  display: grid;
  /* align-items: stretch; */
}

.win-rate {
  width: clamp(5rem, 35vw, 8rem);
  display: grid;
  justify-self: center;
  /* border: 2px solid orange; */
  text-align: center;
  color: var(--antique-white);
  margin-block-end: clamp(0.75rem, 5vh, 2rem);
}
.win-rate p {
  color: var(--light-green);
  margin-bottom: 0.25rem;
}
.progressBar {
  height: 100%;
  /* width: 100%; */
  /* border: 2px solid red; */
  text-align: center;
  white-space: pre-line;
}

.played-won-lost-streak {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
  margin-block-end: clamp(0.75rem, 7.5vh, 2.5rem);
}
.game-stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* margin-block: 0.5rem; */
  padding-inline: clamp(0.75rem, 10vw, 1.5rem);
  /* opacity: 0.85; */
  /* border: 2px solid red; */
}
.game-stats:not(.current-streak) {
  margin-block-end: clamp(0.5rem, 2vh, 0.75rem);
}
.played,
.won,
.lost,
.current-streak,
.max-streak {
  width: 100%;
  /* border: 2px solid red; */
  /* padding: 100%; */
  /* background: rgba(255, 255, 255, 0.25); */
}
.userAssets {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 0.75rem;
  margin-block-end: clamp(0.75rem, 7.5vh, 2.5rem);
}
.dashboard-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 1rem;
  margin-bottom: 2rem;
  /* border: 2px solid yellow; */
  /* position: absolute;
  bottom: 0; */
}
.dashboard-btn .btn {
  font-size: clamp(1rem, 10vw, 1.2rem);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.claim-dow {
  background: var(--sky-blue-black-gradient);
}
.dashboard-btn .claim-dow:hover {
  background: var(--blue-black-gradient);
}
.disconnect {
  background: var(--btn-deep-green-red-gradient);
  opacity: 0.75;
}
.disconnect:hover {
  background: var(--btn-deep-green-red-gradient);
  opacity: 1;
}

/* ========================*/
/* ==== SMALLEST SCREENS ==== */
/* ========================*/
@media (max-width: 300px) {
  .dashboard {
    font-size: clamp(0.75rem, 7.5vw, 0.85rem);
  }
  .dashboard h2 {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
  }
  .dashboard .btn {
    padding: 0.5rem 0.75rem;
    font-size: clamp(0.75rem, 7.5vw, 0.85rem);
  }
}
/* ========================*/
/* ==== SMALLER SCREENS ==== */
/* ========================*/
@media (max-width: 599px) {
  .dashboard {
    background: rgba(0, 103, 84, 0.25);
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(0, 153, 126, 0.15);
  }
  .dashboard-container {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    /* height: 100vh; */
    width: 100%;
    right: -200vw;
    transition: all 0.3s ease-out;
    z-index: 20;
    /* border: 2px solid red; */
  }
  .dashboard-container.view {
    opacity: 1;
    right: 0;
  }
}
/* ========================*/
/* ==== SMALLER SCREENS ==== */
/* ========================*/
@media (max-width: 380px) and (min-width: 300px) {
  /* .input input {
    width: clamp(1rem, 20vw, 3.5rem);
  } */
  .dashboard {
    font-size: clamp(0.85rem, 7.5vw, 0.9rem);
  }
  .dashboard h2 {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
  }
  .dashboard .btn {
    font-size: clamp(0.85rem, 7.5vw, 0.9rem);
  }
}
/* ========================*/
/* ==== LARGE SCREENS ==== */
/* ========================*/
@media (min-width: 600px) {
  .dashboard {
    height: clamp(32rem, 75vh, 45rem);
    width: clamp(40rem, 75vw, 45rem);
    margin-block: auto;
    background: var(--dark-blue-black-gradient);
    border: 2px solid rgba(3, 48, 39, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    align-content: space-between;
    /* border: 2px solid blue; */
  }

  .dashboard-container {
    position: fixed;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -20;
    inset: 0;
    /* border: 2px solid red; */
  }
  .dashboard-wrapper {
    display: grid;
    place-items: center;
    align-content: start;
    justify-items: center;
    gap: 0.75rem;
    height: unset;
    /* border: 2px solid tomato; */
    margin-block: clamp(0.75rem, 2.5vh, 2rem);
    padding: 0;
  }
  .dashboard-container.view {
    opacity: 1;
    z-index: 20;
  }
  .dashboard h2 {
    width: 100%;
    margin-inline: auto;
    margin-bottom: -2rem;
  }
  .statistics,
  .userAssets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    background: var(--dark-blue-black-gradient);
    padding: 1rem 2.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 2px solid blue; */
  }
  .played-won-lost-streak {
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    flex-direction: column;
    margin-block-end: 0;
    /* border: 2px solid yellow; */
  }
  .game-statistics {
    width: 50%;
  }
  .game-stats {
    padding-inline: 0;
  }
  .win-rate {
    width: 25%;
    /* border: 2px solid orange; */
    padding: 0;
    margin-block-end: 0;
    /* margin-block: 0.25rem; */
  }
  .win-rate p {
    color: var(--antique-white);
    margin-bottom: 0.25rem;
  }
  .userAssets {
    margin-block-end: 0;
  }
  .dashboard-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 15;
  }

  .dashboard-overlay.view {
    display: block;
  }
  .dashboard-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    /* border: 2px solid yellow; */
    /* position: absolute;
  bottom: 0; */
  }
}
