.scoreboard {
  height: 75vh;
  width: 100%;
  background: var(--deeper-green);
  color: var(--antique-white);
  border-radius: 0.5rem;
  display: block;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 153, 126, 0.15);
}

.scoreboard h2 {
  width: 100%;
  margin-inline: auto;
  margin-block: 0.5rem;
}
.scoreboard table {
  width: 100%;
  line-height: 1.5;
  border-collapse: collapse;
  text-align: center;
  opacity: 0.85;
}
th,
td {
  padding: 0.25rem 0.25rem;
  text-align: center;
}

th {
  background: rgba(0, 0, 0, 0.2);
  color: var(--light-green);
}

td {
  background: rgba(0, 0, 0, 0.1);
  border-block: 1px solid rgb(191, 255, 201, 0.1);
}
/* Flicker */
.table-row.flicker {
  animation: flicker-animation 0.15s forwards 3;
}

@keyframes flicker-animation {
  33% {
    opacity: 1;
  }

  66% {
    opacity: 0.01;
    background: var(--antique-white);
    color: var(--light-green);
  }

  100% {
    opacity: 1;
  }
}
/* ========================*/
/* ==== SMALLEST SCREENS ==== */
/* ========================*/
@media (max-width: 300px) {
  .scoreboard {
    font-size: clamp(0.75rem, 7.5vw, 0.85rem);
  }
  .scoreboard h2 {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
  }
}
/* ========================*/
/* ==== SMALLER SCREENS ==== */
/* ========================*/
@media (max-width: 599px) {
  @supports (backdrop-filter: blur(6.5px)) {
    .scoreboard {
      background: rgba(0, 103, 84, 0.25);
      backdrop-filter: blur(6.5px);
    }
  }
  .scoreboard {
    background: rgba(0, 103, 84, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(0, 153, 126, 0.15);
  }
  .table__score {
    text-align: left;
    margin: auto;
  }

  .table__score span:not(.hyphen) {
    display: block;
  }
  .hyphen {
    display: none;
  }
}
/* ========================*/
/* ==== SMALLER SCREENS ==== */
/* ========================*/
@media (max-width: 380px) and (min-width: 300px) {
  /* .input input {
    width: clamp(1rem, 20vw, 3.5rem);
  } */
  .scoreboard {
    font-size: clamp(0.85rem, 7.5vw, 0.9rem);
  }
  .scoreboard h2 {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
  }
}
/* ========================*/
/* ==== LARGE SCREENS ==== */
/* ========================*/
@media (min-width: 600px) {
  .scoreboard {
    height: 25rem;
    width: 100%;
    background: var(--deep-green);
    border: 2px solid rgba(3, 48, 39, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  .scoreboard h2 {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 0.5rem;
  }
}
