.start-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-inline: 1rem;
}
/* .start-signal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(3rem, 50vw, 6rem);
  z-index: -10;
  opacity: 1;
  color: var(--light-green);
  visibility: hidden; */
/* background: transparent; */
/* width: 100%;
} */
/* .start-signal.view {
  top: 40%;
  z-index: 10;
  display: flex; */
/* background: #020202; */
/* visibility: visible;
  transition: 2.5s all ease-out; */
/* animation: startSignal linear forwards ease-out; */
/* opacity: 0; */
/* } */
/* @keyframes startSignal { */
/* from {
    opacity: 1;
    top: 50;
  }
  to {
    opacity: 0.1;
    top: 0;
    border: none;
  } */
/* 10% {
    opacity: 0.1;
    top: 50;
  }
  20% {
    opacity: 0.4;
    top: 40;
  }
  30% {
    opacity: 0.6;
    top: 30;
  }
  70% {
    opacity: 1;
    top: 20;
  }
  100% {
    opacity: 0;
    top: 0;
  } */
/* } */
.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(0.75rem, 5vw, 1rem);
  padding-inline: 1rem;
  position: relative;
  z-index: 0;
}
.input input {
  background: var(--deep-green);
  aspect-ratio: 1;
  width: clamp(1.5rem, 35vw, 3.5rem);
  margin: 1rem auto;
  color: var(--light-green);
  text-align: center;
  font-family: var(--font-rubik-wet-paint);
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  border-style: solid;
  border-width: 2px;
  border-image-source: var(--input-gradient);
  border-image-slice: 9;
  position: relative;
  z-index: 10;
}

input:focus {
  background: var(--deeper-green);
  outline: 2px groove var(--light-green);
  border: 1px groove var(--dark-navy-blue);
  transform: scale(1.005);
}
.number-btns {
  margin-bottom: 1.5rem;
  display: grid;
  gap: clamp(0.75rem, 5vw, 1rem);
}

.number-btn {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  aspect-ratio: 1;
  font-size: clamp(0.85rem, 25vw, 1rem);
  width: clamp(2.5rem, 35vw, 3rem);
  border-radius: 0.5rem;
  margin-inline: 0.5rem;
}
.number-btn:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.clear-play-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.game-btn {
  border-radius: 0.5rem;
  width: 6rem;
  padding: 0.75rem 0.75rem;
}
.play {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
}
.play:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.clear {
  background: var(--btn-deep-green-red-gradient);
  opacity: 0.75;
}
.clear:hover {
  opacity: 1;
  background: var(--btn-deep-green-red-gradient);
}

.scoreboard-mobile-btn {
  border-radius: 0.5rem;
  width: 75vw;
  padding: 0.75rem 0.75rem;
  text-align: center;
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  position: fixed;
  z-index: 50;
  bottom: 1.5rem;
  /* margin-inline: 1rem; */
}

/* ========================*/
/* ==== SMALLEST SCREENS ==== */
/* ========================*/
@media (max-width: 300px) {
  .input input {
    width: clamp(1rem, 20vw, 3rem);
  }
}
/* ========================*/
/* ==== SMALLER SCREENS ==== */
/* ========================*/
@media (max-width: 599px) {
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: clamp(2rem, 5vh, 7.5vh);
    margin-block: 0.5rem;
  }
  .start-signal {
    font-size: clamp(2rem, 50vw, 4rem);
  }
  .clear-play-btns {
    gap: clamp(0.75rem, 5vw, 1rem);
  }
  .scoreboard-mobile {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    right: 0;
    padding: 1rem;
    transition: all 0.1s ease-out;
    z-index: -20;
  }
  .scoreboard-mobile.view {
    opacity: 1;
    z-index: 20;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 15;
  }

  .overlay.view {
    display: block;
  }
}
@media (max-width: 380px) and (min-width: 300px) {
  /* .input input {
    width: clamp(1rem, 20vw, 3.5rem);
  } */
}
/* ========================*/
/* ==== LARGE SCREENS ==== */
/* ========================*/
@media (min-width: 600px) {
  .input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 7.5rem;
  }
  .input input {
    width: clamp(1rem, 5vw, 2.5rem);
    width: 4rem;
    margin: 2rem 0.5rem;
    font-size: 2.5rem;
  }
  .number-btns {
    margin-bottom: 2rem;
    display: flex;
    gap: 0;
  }
  .number-btn {
    font-size: 1.2rem;
    width: 3rem;
    margin-inline: 0.5rem;
  }
  .game-btn {
    font-size: 1.2rem;
    width: 7.5rem;
    /* padding: 0.75rem 1.5rem; */
    text-align: center;
  }

  .scoreboard-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
    width: clamp(500px, 100%, 750px);
  }
  .scoreboard-mobile-btn {
    display: none;
  }
}
/* animate__zoomInDown */
